@keyframes slideInFromRight { 
  0% { 
      transform: translateX(100vw); 
  } 

  100% { 
      transform: translateX(0%); 
  } 
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}
.header {
  background: #f1f1f1;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  color: #000;
}
.header__logo::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -3px;
  right: -12px;
  background-color: #fda300;
  border-radius: 50%;
}
.menu__list {
}
.menu__item {
  display: flex;
  gap: 0 50px;
}
.menu__link.active {
  color: #606060;
}
.menu__link {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.menu__link:hover {
  text-decoration: underline;
}
.header__content {
}
.header__content-title {
  font-size: 44px;
  font-weight: 600;
  line-height: normal;
  margin-top: 265px;
}
.header__content-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  width: 500px;
  margin-top: 20px;
}
.header__row {
  display: flex;
  padding-bottom: 20px;
}
.header__image {
  margin-top: 76px;
  margin-left: 176px;
  border-radius: 50px;
  animation: 1.5s ease 0s 1 slideInFromRight;
}


.services {
  padding: 90px 0;
}

.services__list {
  display: flex;
}

@media (max-width: 1250px) {
  .header__menu {
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    margin-top: 20px;
  }
  .header__content-title {
    font-size: 34px;
  }
  .header__content-text {
    width: 100%;
    text-align: center;
  }
  .header__image {
    display: none;
  }
  .services__list {
    flex-direction: column;
    align-items: center;
  }
  .services__item {
    margin-bottom: 40px;
  }
  .services__img {
    margin-bottom: 20px;
  }
  .services__title {
    font-size: 20px;
  }
  .services__text {
    width: 100%;
    text-align: center;
  }
  .footer__brows {
    flex-direction: column;
    gap: 0 40px;
  }
  .footer__copy {
    text-align: center;
  }
}

.services__item {
  margin: 10px;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: #bebebe 0px 0px 10px;
}
.services__img {
  margin-bottom: 30px;
}
.services__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services__text {
  width: 370px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}

.footer {
  padding: 90px 0;
}
.footer__body {
  margin: 0 auto;
  text-align: center;
  color: #070707;
}
.footer__title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 40px;
}
.footer__text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
.footer__link {
  padding: 7px 23px;
  width: 180.5px;
  height: 42px;
  background-color: #070707;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 40px;
  transition: all 0.3s linear;
}
.footer__link:hover {
  background: #606060;
}
.footer__brows {
  display: flex;
  justify-content: center;
  gap: 0 60px;
  margin-top: 80px;
}
.footer__tiem {
}
.footer__img {
}
.footer__copy {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  margin-top: 41px;
  line-height: normal;
}

.form-div{
  margin: 20px;
  display:flex;
  justify-content: center;
}

.form-names{
  display: flex;
  gap: 0 20px;
  margin-bottom: 20px;
  padding: 2px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.form-phone{
  padding: 2px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-select{
  padding: 2px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-area{
  padding: 2px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-submit{
  padding: 7px 23px;
  width: 180.5px;
  height: 42px;
  background-color: #070707;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 40px;
  transition: all 0.3s linear;
}

.table__table{
  margin: 20px;
  display: flex;
  justify-content: center;
}

table, tr, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  height: 50px
}

.frame{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.questionary__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionary__form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.questionary__form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
}

.questionary__form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.questionary__form-submit{
  padding: 7px 23px;
  width: 180px;
  height: 42px;
  background-color: #070707;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 40px;
  transition: all 0.3s linear;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 0.5rem;
}

input[type="checkbox"] {
  margin-bottom: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.test__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.test__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#test_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px
}

#test__form-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.svg_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.svg_section svg {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.game_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.game_container {
  width: 600px;
}